// Sidebar styles using Cloudscape design tokens
@use '@cloudscape-design/design-tokens/index.scss' as cs;

.sidebar-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 0;
  overflow-y: auto;

  // Custom scrollbar
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: cs.$color-border-divider-default;
    border-radius: 3px;

    &:hover {
      background-color: cs.$color-text-body-secondary;
    }
  }
}

.sidebar-divider {
  height: 1px;
  background-color: cs.$color-border-divider-default;
  margin: cs.$space-scaled-xs cs.$space-scaled-s;
}

.sidebar-spacer {
  flex: 1;
  min-height: cs.$space-scaled-m;
}

// Settings section styling
.sidebar-settings {
  border-top: 1px solid cs.$color-border-divider-default;
  margin-top: auto;
}
